<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>buy_car</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.pfy.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SetCharacterEncodingFilter</display-name>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.pfy.filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.pfy.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyThingShowSrevlet</display-name>
    <servlet-name>BuyThingShowSrevlet</servlet-name>
    <servlet-class>com.pfy.servlet.BuyThingShowSrevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyThingShowSrevlet</servlet-name>
    <url-pattern>/BuyThingShowSrevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowThingServlet</display-name>
    <servlet-name>ShowThingServlet</servlet-name>
    <servlet-class>com.pfy.servlet.ShowThingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowThingServlet</servlet-name>
    <url-pattern>/ShowThingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeBuyThingServlet</display-name>
    <servlet-name>ChangeBuyThingServlet</servlet-name>
    <servlet-class>com.pfy.servlet.ChangeBuyThingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBuyThingServlet</servlet-name>
    <url-pattern>/ChangeBuyThingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.pfy.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
</web-app>